:root {
--neutralPrimary: #ffffff;
--white: #323130;
--black: #f8f8f8;
--neutralLighterAlt: #323130;
--neutralLighter: #31302f;
--neutralLight: #2f2e2d;
--neutralDark: #f4f4f4;
--themeLighter: #051827;
--themeLighterAlt: #01060a;
--themeLight: #0a2d49;
--themePrimary: #2196f3;
--themeSecondary: #1e83d5;
--themeTertiary: #145991;
--themeDarkAlt: #379ff4;
--themeDark: #55adf5;
--themeDarker: #80c2f8;
--neutralQuaternaryAlt: #2c2b2a;
--neutralQuaternary: #2a2928;
--neutralTertiaryAlt: #282726;
--neutralTertiary: #c8c8c8;
--neutralPrimary-trs: #ffffff44;
--white-trs: #32313044;
--black-trs: #f8f8f844;
--neutralLighterAlt-trs: #32313044;
--neutralLighter-trs: #31302f44;
--neutralLight-trs: #2f2e2d44;
--neutralDark-trs: #f4f4f444;
--themeLighter-trs: #05182744;
--themeLighterAlt-trs: #01060a44;
--themeLight-trs: #0a2d4944;
--themePrimary-trs: #2196f344;
--themeSecondary-trs: #1e83d544;
--themeTertiary-trs: #14599144;
--themeDarkAlt-trs: #379ff444;
--themeDark-trs: #55adf544;
--themeDarker-trs: #80c2f844;
--neutralQuaternaryAlt-trs: #2c2b2a44;
--neutralQuaternary-trs: #2a292844;
--neutralTertiaryAlt-trs: #28272644;
--neutralTertiary-trs: #c8c8c844;
--shared-red20: #a4262c;
--shared-redorange10: #da3b01;
--shared-bluemagenta30: #5c2e91;
--shared-purpledark: #32145a;
--shared-bluedark: #002050;
--shared-tealdark: #004b50;
--shared-bluemid: #00188f;
--shared-orangelight: #ea4300;
--shared-greendark: #004b1c;
--shared-red20-trs: #a4262c44;
--shared-redorange10-trs: #da3b0144;
--shared-bluemagenta30-trs: #5c2e9144;
--shared-purpledark-trs: #32145a44;
--shared-bluedark-trs: #00205044;
--shared-tealdark-trs: #004b5044;
--shared-bluemid-trs: #00188f44;
--shared-orangelight-trs: #ea430044;
--shared-greendark-trs: #004b1c44;
--transparent: transparent;
--transparent-trs: transparent;
}
